.MainMenu_MenuContainer { border: 0px solid black }
.tableBody { background: #fff; }
#delmarLogo { display: none; }
#header { height: 40px; background: #aaaaaa; display: none;}
#logo { position: fixed; top: 40px; display: none; left: 0; width: 200px; height: 50px; background: url

(http://www.nsna.org/Portals/0/images/logos/nsnalogo-hires-withtitle-Inc%20copy.jpg) no-repeat; background-size: 

200px 50px; }

#mainphoto {

	/* margin-left: auto; */
	

	/* margin-right: auto; */
	/* margin-top: 100px; */
}

#mainphoto img {
	width: 100%;
	/* margin-left: auto; */

}


body {
background: #fff;
}

#dnn_Image1 {
	display: none;
}

#newheaderbar {
	/* background: #fff; */
	width: 100%;
	background: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	float: left;
	margin: auto;
}

#newnavlogo {
	background: url(http://www.nsna.org/portals/_default/skins/nsna/images/logo.gif);
	background-repeat: no-repeat;
	background-size: 134px 38px;
	padding: 10px 290px 10px 10px;
	float: left;
}
#mainNav { background: transparent; top: 0; left: 10px; width: 100%; height: 40px;}

.MainMenu_MenuItem,.submenuitembreadcrumb {
	z-index: 50;
	color: #ffffff; 
	font-size: 13px; 
	font-weight: normal; 
	padding: 3px 3px 3px 10px; 
	height: 35px;
	border-top: 1px solid #5D656F; 
display: none;
	}

.submenuitemselected {
	z-index: 50;
	color: #4b545f; 
	font-size: 13px; 
	font-weight: normal;
	height: 35px;
	padding: 3px 15px 3px 10px; 
	background: #ffffbb; 
	border: 1px solid #bcbcbc; 
	border-width: 1px 0px}

.submenu {
	z-index: 50;
	border:0px #A7A7A7 solid;  
	padding:0px;  
	height: 35px;
	background: #4b545f;
	}

#dnn_dnnBreadcrumb_lblBreadCrumb {
display: none;
}

#leftCol {
display: none;
}

#leftCol span>table>tbody>tr {
	display: table-cell;
	
	/* position: absolute; */
	/* white-space: pre-line; */
}


.rootmenuitem TD {
	color: #333333; 
	font-size: 13px; 
	/*font-weight: bold;*/ 
	background: url(images/button.jpg) 5px 2px no-repeat transparent; 
	padding: 5px; 
	height: 35px; 
	background-color: #cdcdcd; 
	border-left: 1px solid #bcbcbc; 
	border-top: 0px solid #ababab}

.rootmenuitemselected TD,.rootmenuitembreadcrumb TD {
	color: #ffffff; 
	font-size: 13px; 
	font-weight: normal;
	padding: 5px; 
	height: 35px;  
	background: url(images/button.jpg) 5px 2px no-repeat transparent; 
	background-color: #4b545f; 
	border-left: 1px solid #4b545f; 
	border-right: 0px solid #4b545f; 
	border-top: 0px solid #344286}


#mainNav #nav_home
{
	width: 93px;
	height: 40px;
	background: url

(https://99a4d3149f785fcd6c9a8aab8328ffcc3b3505c1.googledrive.com/host/0B50QsgkK6E7dTTN4cG5xOUhxa1U/data1/images/na

v_home.gif) no-repeat;
	text-indent: 0px;
	margin-left: 0px;
}

#mainNav #nav_home a:link {
	background: url

(https://99a4d3149f785fcd6c9a8aab8328ffcc3b3505c1.googledrive.com/host/0B50QsgkK6E7dTTN4cG5xOUhxa1U/data1/images/na

v_home.gif) no-repeat;
	
}

#mainNav #nav_home a:visited {
	background: url

(https://99a4d3149f785fcd6c9a8aab8328ffcc3b3505c1.googledrive.com/host/0B50QsgkK6E7dTTN4cG5xOUhxa1U/data1/images/na

v_home.gif) no-repeat;
	
}

#mainNav #nav_home a:hover {
    background: transparent url

(https://99a4d3149f785fcd6c9a8aab8328ffcc3b3505c1.googledrive.com/host/0B50QsgkK6E7dTTN4cG5xOUhxa1U/data1/images/na

v_home_hover.gif) no-repeat;
}

#mainNav #nav_home a:active {
    background: transparent url

(https://99a4d3149f785fcd6c9a8aab8328ffcc3b3505c1.googledrive.com/host/0B50QsgkK6E7dTTN4cG5xOUhxa1U/data1/images/na

v_home_hover.gif) no-repeat;
}


.searchInputContainer { margin: -65px 0 0 1000px !important; padding-right: 10px;}
.SearchFont { display: none;}

#leftCol { width: 100%; margin-top: 0px; float: none;  }




#mainNav #nav_aboutus
{
	width: 102px;
	height: 40px;
	background: url

(https://99a4d3149f785fcd6c9a8aab8328ffcc3b3505c1.googledrive.com/host/0B50QsgkK6E7dTTN4cG5xOUhxa1U/data1/images/na

v_aboutus.gif) no-repeat;
	display: block;
	text-indent: 0px;
	margin-left: 0px;
}

#mainNav #nav_contactus
{
	width: 135px;
	height: 40px;
	background: url

(https://99a4d3149f785fcd6c9a8aab8328ffcc3b3505c1.googledrive.com/host/0B50QsgkK6E7dTTN4cG5xOUhxa1U/data1/images/na

v_contactus.gif) no-repeat;
	display: block;
	text-indent: 0px;
	margin-left: 0px;
}

#footer {
display: none;
}



#mainNav #nav_sitemap
{
	width: 231px;
	height: 40px;
	background: transparent;
	display: block;
	text-indent: 0px;
	margin-left: 0px;
}

#mainNav #nav_services
{
	width: 231px;
	height: 40px;
	background: url

(https://99a4d3149f785fcd6c9a8aab8328ffcc3b3505c1.googledrive.com/host/0B50QsgkK6E7dTTN4cG5xOUhxa1U/data1/images/na

v_join.gif) no-repeat;
	display: block;
	text-indent: 0px;
	margin-left: 0px;
}
#centerCol { width: 100%; float: none; border: 0px;}
#wrapper { width: 700px; }

#pcm{display:none;}
ul.pureCssMenu ul{display:none}
ul.pureCssMenu li:hover>ul{display:block}
ul.pureCssMenu ul{position: absolute;left:-5px;top:98%;}
ul.pureCssMenu ul ul{position: absolute;left:98%;top:-2px;}
ul.pureCssMenu,ul.pureCssMenu ul {
	width: 400px;
	margin: auto;
	list-style:none;
	padding:5px 2px 2px 0px;
	background-color:#eee;
	background-repeat:repeat;
	border-color:#eee;
	border-width:1px;
	border-style:solid;
	/* position: relative; */
}
ul.pureCssMenu table {border-collapse:collapse}ul.pureCssMenu {
	display:block;
	zoom:1;
	float: left;
}
ul.pureCssMenu ul{
	width:138.6px;

}
ul.pureCssMenu li{
	display:block;
	margin:2px 0px 0px 2px;
	font-size:0px;
	padding-left: 10px;
	padding-right: 10px;

}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {
outline-style:none;
}
ul.pureCssMenu a, ul.pureCssMenu li.dis a:hover, ul.pureCssMenu li.sep a:hover {
	display:block;
	vertical-align:middle;
	background-color:#eee;
	border-width:0px;
	border-color:#6655ff;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	padding:4px;
	margin-left:0;
	font:normal 11px Verdana;
	color: #444444;
	text-decoration:none;
	cursor:default;
}
ul.pureCssMenu span{
	overflow:hidden;
}
ul.pureCssMenu li {
	float:left;
}
ul.pureCssMenu ul li {
	float:none;
}
ul.pureCssMenu ul a {
	text-align:left;
	white-space:nowrap;
}
ul.pureCssMenu li.sep{
	text-align:center;
	padding:0px;
	line-height:0;
	height:100%;
}
ul.pureCssMenu li.sep span{
	float:none;	padding-right:0;
	width:5;
	height:16;
	display:inline-block;
	background-color:#AAAAAA;	background-image:none;}
ul.pureCssMenu ul li.sep span{
	width:80%;
	height:3;
}
ul.pureCssMenu li:hover{
	position:relative;
}
ul.pureCssMenu li:hover>a{
	background-color:#4792E6;
	border-color:#665500;
	border-style:solid;
	font:normal 11px Verdana;
	color: #ffffff;
	text-decoration:none;
}
ul.pureCssMenu li a:hover{
	position:relative;
	background-color:#4792E6;
	border-color:#665500;
	border-style:solid;
	font:normal 11px Verdana;
	color: #ffffff;
	text-decoration:none;
}
ul.pureCssMenu li.dis a {
	color: #AAAAAA !important;
}
ul.pureCssMenu img {border: none;float:left;_float:none;margin-right:4px;width:16px;
height:16px;
}
ul.pureCssMenu ul img {width:16px;
height:16px;
}
ul.pureCssMenu img.over{display:none}
ul.pureCssMenu li.dis a:hover img.over{display:none !important}
ul.pureCssMenu li.dis a:hover img.def {display:inline !important}
ul.pureCssMenu li:hover > a img.def  {display:none}
ul.pureCssMenu li:hover > a img.over {display:inline}
ul.pureCssMenu a:hover img.over,ul.pureCssMenu a:hover ul img.def,ul.pureCssMenu a:hover a:hover ul img.def,ul.pureCssMenu a:hover a:hover img.over,ul.pureCssMenu a:hover a:hover a:hover img.over{display:inline}
ul.pureCssMenu a:hover img.def,ul.pureCssMenu a:hover ul img.over,ul.pureCssMenu a:hover a:hover ul img.over,ul.pureCssMenu a:hover a:hover img.def,ul.pureCssMenu a:hover a:hover a:hover img.def{display:none}
ul.pureCssMenu a:hover ul,ul.pureCssMenu a:hover a:hover ul{display:block}
ul.pureCssMenu a:hover ul ul{display:none}
ul.pureCssMenu span{
	display:block;
	background-image:url(./images/arrv_anim_1.gif);
	background-position:right center;
	background-repeat: no-repeat;
   padding-right:11px;}
ul.pureCssMenu li:hover>a>span{	background-image:url(./images/arrv_anim_1o.gif);
}
ul.pureCssMenu a:hover span{	_background-image:url(./images/arrv_anim_1o.gif)}
ul.pureCssMenu ul span,ul.pureCssMenu a:hover table span{background-image:url(./images/arr_double_1.gif)}
ul.pureCssMenu ul li:hover > a span{	background-image:url(./images/arr_double_1o.gif);}
ul.pureCssMenu table a:hover span,ul.pureCssMenu table a:hover a:hover span{background-image:url(./images/arr_double_1o.gif)}
ul.pureCssMenu table a:hover table span{background-image:url(./images/arr_double_1.gif)}
</style>
<!-- End PureCSSMenu.com STYLE -->